################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Debug/
/bridge/bridge/Debug
/bridge/obj
/bridge/x64/Debug
